body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10%);
  margin: 50px;
  font-size: 1em;
}

.note {
  width: 15%;
  height: max-content;
  background: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid 1px black;
  border-radius: 5px;
  position: absolute;

  .topBar {
    display: flex;
    justify-content: space-between;
    padding: 3px;

    .leftBar {
      display: flex;
    }
  }

  .content {
    padding: 3px;
  }
}
